body{
    font-family: "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    box-sizing:border-box;
}
a{
    text-decoration:none;

}
ul,li{
    text-underline:none;
    list-style:none;
    margin:0;
    padding:0;
}
#top-header{
    color:#FFFAE3;
    background-color:#A3A3A3;
    cursor:pointer;
    width:100%;
    height:28px;
    vertical-align:middle;
    line-height:28px;
}
#city-select{
    color:#F19100;
    font-size:16px;
}
#middle-header{
    height:80px;
    width:100%;
    background-color:#F7F7F7;
}
#middle-header>div{
    display:flex;
    width:85%;
    margin:0 auto;
}
#middle-header ul{
    display:flex;
    justify-content:space-between;
    vertical-align:middle;
    line-height:70px;
    font-size:16px;
    padding-right:10%;
    /*font-weight:bold;*/
}
#tab001{
    width:85%;
    margin:2% auto;
    border:1px solid black;
    display:flex;
    justify-content:space-between;
}
#tab001 > div{
    position:relative;
    overflow:hidden;
}
#tab001 > div > div{
    width:100%;
    position:absolute;
    border:1px solid red;
    text-align:center;
    background-color:#EBEAE7;
    overflow:hidden;
}
#tab001 > div >.do001{
    bottom:0;
    opacity:0.7;
}
#tab001 > div > div+div{
    width:100%;
    height:100%;
    color:white;
    top:0;
    background-color:#F8971A;
    opacity:0;
    cursor:pointer;
}
#tab001 > div > .do002 div:first-child{
    margin-top:25%;
}
#tab001 > div > .do001 > b{
    display:inline-block;
    width:10%;
    border:1px solid #F08300;
    margin-bottom:20px;
}
#tab001 > div > .do002 > b{
    display:inline-block;
    width:0;
    border:1px solid white;
    margin-bottom:20px;
}
.do002 :nth-child(4){
    width:80%;
    margin:30% auto 0;
    padding:1% 0;
    border:2px solid white;
}
/*************tab001中的动画效果***************/
#tab001>div:hover .do001{
    transition-property:bottom;
    transition-duration:0.8s;
    bottom:-28%;
}

/*************tab002中的动画效果***************/
#tab001>div:hover .do002{
    transition-property:opacity;
    transition-duration:1.5s;
    transition-delay:0.5s;
    opacity:0.9;
}
#tab001>div:hover .do002>b{
    transition-property:width;
    transition-duration:2s;
    transition-delay:0.5s;
    width:15%;
}
/************************************/
#tab002{
    width:100%;
    background-color:#F7F7F7;
}
#tab002>div{
    width:85%;
    margin:2% auto;
    display:flex;
}
#tab002 a{
    display:block;
    text-decoration:none;
    margin:3% 0;
    cursor:pointer;
}
#tab002 img{
    border-radius:50%;
}
#tab002 a{
    text-align:center;
}
#tab002 a strong{
    font-size:32px;
    font-weight:normal;
}
#tab002 a span{
    font-size:18px;
    color:#666666;
}
/*****************tab003**********************/
#tab003{
    width:85%;
    margin:2% auto;
    text-align:center;
}
#tab003>a{
    color:#F08300;
    text-align:center;
    display:inline-block;
    margin-bottom:2%;
}
#tab003>div{
    display:flex;
    width:80%;
    margin:0 auto;
    justify-content:space-around;
}
#tab003>div>a{
    display:block;
    border:1px solid #DBDBDB;
    text-align:center;
    margin:0 1%;
    padding:1%;
}
#tab003 .show{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:2% 0;
}
#tab003 ul > li{
    display:inline-block;
    width:32%;
    margin:0.5% 0.5%;
}
#tab003 ul > li >img{
    width:100%;
}
/******************tab003中的tab标签*******************/
#tab003 .hide{
    display:none;
}
/******************tab004*************************/
#tab004{
    width:100%;
    background-color:#F08300;
    text-align:center;
}
#tab004>h1{
    color:white;
}
#tab004>div{
    background-color:white;
    width:85%;
    text-align:center;
    display:flex;
    justify-content:space-around;
    margin:0 auto;
}
#tab004>div>em{
    font-size:30px;
}
#tab004>div>hr{
    display:block;
    color:#F08300;
    width:10%;
}